/* body */
* {
    box-sizing: border-box;
}

body _{
    padding: 0;
    margin: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    color: inherit;
    text-decoration: none;
}

/*================================================================================*/

.head-img {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.head-section {
    align-items: center;
    padding-left: 95px;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #253858, #091e42);
    display: flex;
    padding-bottom: 0;
    background-size: cover;
    padding-right: 15px;
}

.main-header {
    display: block;
    z-index: 5;
    position: sticky;
    inset-block-start: 0;
}

.main-head {
    margin-inline: 170px;
    margin-block-end: 50px;
    margin-block-start: 75pt;
    margin-left: 170px;
    margin-bottom: 50px;
    margin-right: 170px;
    margin-top: 75pt;
    max-width: 58pc;
    color: #fff;
    width: 100%;
}

.main-head h1 {
    margin-block-end: 15px;
    font-weight: 500;
    line-height: 56px;
    font-size: 3pc;
}

.main-head p {
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    margin-block-start: 15px;
    margin-block-end: 15px;
}

/* a tag */
.main-head-login {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 2px solid #579dff;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.main-head-login-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
}

.login-icon-inner {
    line-height: 22px;
    font-size: 1pc;
    overflow-x: hidden;
    overflow-y: hidden;
}

.inner-plan-it {
    font-weight:  ;
    font-size: 17px;
}

.inner-user-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* button */
.main-head-button {
    margin-inline-start: 15px;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    border-width: 0;
    border-radius: var(--ds-border-radius, 3px);
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    max-width: 100%;
    position: relative;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
    white-space: nowrap;
    background: var(--ds-background-warning-bold, #FFAB00);
    color: var(--ds-text-warning-inverse, #172B4D) !important;
    cursor: pointer;
    height: 2.2857142857142856em;
    line-height: 2.2857142857142856em;
    padding: 0 10px;
    vertical-align: middle;
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.button-css {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    margin: 0 2px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-css:focus, .button-css:hover, .button-css:visited {
    text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

/* Login div 끝 */

/*================================================================================*/

.sec1 {
    letter-spacing: .3px;
}

.sec1-div {
    color: #fff;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 4pc;
    padding-top: 4pc;
    background-image: linear-gradient(123.5deg, #091e42 78%, #0747a6 99.98%); /*백그라운드 색상*/
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-div1 {
    width: 100%;
    align-items: stretch;
    display: grid;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding-inline-start: 2pc;
    padding-inline-end: 2pc;
    gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: flex-start;
}

.text-div1-inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 12;
}

.text-section {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.layout-left-first .text-section {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.text-section-p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
    margin-block-end: 24px;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: .3px;
    line-height: 1.4;
}

.text-section > h2 {
    text-align: center;
    font-weight: 500;
    letter-spacing: .3px;
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.text-section > h3 {
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: .3px;
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 24px;
    margin-right: 0;
    margin-left: 0;
}

.try-intent-wrapper {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
}

.contentBlock-linkFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.text-div-2 {
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tap-group {
    max-width: 100%;
}

.tap-group-button-inner {
    width: 100%;
    align-items: stretch;
    display: grid;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding-inline-start: 2pc;
    padding-inline-end: 2pc;
    gap: 24px;
    grid-template-columns: minmax(0, 1fr);
    padding-inline-start: 60px;
    padding-inline-end: 60px;
    align-items: flex-start;
}

.tap-group-button-select {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1pc;

}

.tap-button {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-color: transparent;
    border-style: solid;
    border-radius: 50px;
    background-clip: padding-box;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 2px;
    letter-spacing: .04rem;
    background-color:#42526e; 
    color: #dfe1e6;
    border: 1px solid transparent;
    padding-top: 4px;
    padding-right: 1pc;
    padding-bottom: 4px;
    padding-left: 1pc;
}

.tap-panels-inner {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 1pc;
    padding-right: 0;
    padding-bottom: 1pc;
    padding-left: 0;
}

.tap-panels-inner-layout {
    width: 100%;
    align-items: stretch;
    display: grid;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding-inline-start: 2pc;
    padding-inline-end: 2pc;
    gap: 24px;
    grid-template-columns: minmax(0, 1fr);
    padding-inline-start: 60px;
    padding-inline-end: 60px;
    align-items: flex-start;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.layout-left-first {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 24px;
    grid-column-start: 1;
    grid-column-end: 5;
}

.layout-text-section {
    display: flex;
    flex-direction: column;
    text-align: left;
}





.layout-text-section2 {
    padding-left: 0;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 24px;
    text-align: left;
    background-image: linear-gradient(90deg, transparent, #0065ff);
    border-radius: 0 150px 150px 0;
}

.layout-img {
    width: 45px;
}

.quote-sample1 {
    line-height: 1.2;
    margin-inline-start: 0;
    font-size: 1.2rem;
}

.quote-sample2 {
    font-size: .875rem;
    line-height: 1.25;
    width: 75%;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-transform: uppercase;
}
.quote-sample3 {
    font-size: .75rem !important;
    line-height: 2;
    width: 75%;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-transform: uppercase;
} 

.layout-left-first >:last-child {
    grid-column-end: -1;
}
.layout-left-first >:last-child {
    grid-column-start: 5;
}

/* 설명 섹션1 */

/*================================================================================*/

.sec2 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2in;
    padding-bottom: 2in;
    background-color: #fff;
}

.sec2-div1 {
    align-items: stretch;
    display: grid;
    justify-content: space-between;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    max-width: 100%;
    width: 954pt;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 1fr);

}

.integrations-content {
    max-width: 45pc;
    padding-top: 1pc;
    padding-right: 0;
    padding-bottom: 1pc;
    padding-left: 0;
    width: 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.integrations-content-textArea {
    display: flex;
    flex-direction: column;
}

.integrations-content h2 {
    line-height: 1.16;
    font-weight: 500;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;

}


.contentBlock-body {
    line-height: 1.4;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
    color: #091e42;
    margin-block-end: 24px;
    font-weight: normal;
    font-size: 1rem;
}

/* 설명 섹션2 */

/*================================================================================*/

.main-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    margin-top: 10px;
}

.footer-inner {
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    padding-block: var(--ds-space-200);
    gap: var(--ds-space-200);
}

.inner-div1 {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 76pc;
    padding-block: 24px;
    background-color: #f8f8f8;
    border-radius: 0 0 24px 24px;
    padding-inline: 24px;
}

.inner-div-textArea {
    display: grid;
    gap: var(--ds-space-400);
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.textArea-div {
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    color: #091e42;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    min-height: 1px;
    font-size: 100%;
    vertical-align: baseline;
}

.footer-logo {
    height: 2pc;
}

.footer-logo a:focus, .footer-logo a:hover, .footer-logo a:visited {
    font-weight: bold;
    text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.footer-ul {
    margin-block-end: 0;
    padding-inline-start: 20px;
    list-style: none;
}

.footer-ul-li {
    font-size: 1rem;
    line-height: 14px;
    margin-block-start: 0rem;
    margin-block-end: 19px;
    list-style-type: none;
    margin-inline-start: -20px;
    color: inherit;
}

.footer-li-a {
    align-items: center;
    text-decoration-color: currentColor;
    text-decoration-style: solid;
    display: inline-flex;
    text-decoration-line: none;
    color: #101214;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: normal;
}

.textArea-head {
    align-items: center;
    display: flex;
    height: 2pc;
    margin-block-start: var(--ds-space-0);
    margin-block-end: var(--ds-space-400);
}

.textArea-h3 {
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 13px;
    color: var(#101214) !important;
    font-family: Charlie Text;

}
.textArea-body {
    list-style: none;
    padding-inline-start: 20px;
    margin-block-end: 0;
}
.textArea-li {
    font-size: 1rem;
    line-height: 14px;
    margin-block-start: 0rem;
    margin-block-end: 19px;
    list-style-type: none;
    margin-inline-start: -20px;
    color: inherit;
}

.textArea-li-view {
    font-weight: 500;
    list-style-type: none;
    margin-inline-start: -20px;
    margin-block-start: 2rem;
    padding-block: 8px;
}

.li-link-a {
    align-items: center;
    text-decoration-color: currentColor;
    text-decoration-style: solid;
    display: inline-flex;
    text-decoration-line: none;
    color: #101214;
    font-size: .875rem;
    letter-spacing: .42px;
    font-family: Charlie Display;
}


.li-link-a:focus, .li-link-a:hover, .li-link-a:visited {
    text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

