/* 비밀번호 확인 페이지 기본 스타일 */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    
}

.password-verify-container {
    text-align: center;
    width: 350px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.password-verify-container h1 {
    margin-bottom: 10px;
}

.password-verify-container p {
    margin-bottom: 20px;
}

.password-verify-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-direction: column;
}

.password-form-inner {
    margin-right: 17px;
}

.form-actions button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-actions button:first-child {
    background-color: #007BFF;
    color: #fff;
}
.form-actions button:first-child:hover {
    background-color: #036ad8;
    text-decoration: underline;
}

.form-actions button:last-child {
    background-color: #ddd;
    color: #000;
}
.form-actions button:last-child:hover {
    background-color: #b6b5b5;
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.hidden {
    display: none;
}
